<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4">
            <form action="admin-login" method="post">
                <h1>Admin Login</h1>
                <!-- Email input -->
                {{#if adminLoginErr}}
                <p class="error" style="color: rgb(150, 3, 3);">{{adminLoginErr}}</p>
                {{/if}}
                <div class="form-outline mb-4">
                    <input type="text" id="form2Example1" name="username" class="form-control" />
                    <label class="form-label" for="form2Example1">Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form2Example2" class="form-control" />
                    <label class="form-label" for="form2Example2">Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            </form>

        </div>
    </div>
</div>